{{ template "header" .Version}}
<h2>First Login</h2>
<p>You've never logged in before! Use the form below to create the admin account:</p>
<script>
	function verifyPass() {
		let passObj = document.getElementById('password');
		let password = passObj.value;
		let confirmPassObj = document.getElementById('confirmpassword');
		if (password.length > 11 && password == confirmPassObj.value) {
			confirmPassObj.style.color = 'green';
			confirmPassObj.style.borderColor = 'green';
			passObj.style.color = 'green';
			passObj.style.borderColor = 'green';
			document.getElementById('errorBox').hidden = true;
			document.getElementsByTagName('button')[0].disabled = false;
		} else {
			confirmPassObj.style.color = 'red';
			confirmPassObj.style.borderColor = 'red';
			passObj.style.color = 'red';
			passObj.style.borderColor = 'red';
			document.getElementsByTagName('button')[0].disabled = true;
			document.getElementById('errorBox').hidden = false;
			if (password.length < 12) {
				document.getElementById('error').innerText = 'Password must be at least 12 characters long.';
			} else if (password != confirmPassObj.value) {
				document.getElementById('error').innerText = 'Passwords do not match.';
			}
		}
	}
</script>
<form class="first-login-form" action="/firstlogin" method="post">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" placeholder="Username" name="username" id="username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" placeholder="Password" name="password" id="password" oninput="verifyPass();">
	</div>
	<!-- Add a confim password field which must match the password field for the submit button to be pressed -->
	<div class="form-group">
		<label for="confirmpassword">Confirm Password</label>
		<input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" oninput="verifyPass();">
	</div>
	<button type="submit" id="submit" disabled>Login</button>
</form>
<p id="errorBox" hidden>Error: <span id="error"></span></p>
{{ template "footer"}}