{{ define "header"}}
<!DOCTYPE html>
<html>
	<head>
		<title>OneBot: Mission Control</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div class="topnav">
			<a href="#">Home</a>
			<a href="#">Plugins</a>
		</div>
		<div class="top-right">
			OneBot {{ .}}
		</div>

		<div class="content">
{{ end}}