* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.top-right {
  color: #f2f2f2;
  position: absolute;
  top: 0px;
  right: 16px;
  padding: 14px 16px;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  min-height: 200px;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

label {
  width: 5em;
  display: inline-block;
}

.first-login-form label {
  width: 9em;
}